{% load static %}
<div class="row">
  <div class="row">
    <div class="col col-sm col-lg aling-self-center">
      <img src="{% static 'core/img/emblem.png' %}" alt="" class="emblem-main">

    </div>
  </div>
  <div class="row" >
    <div class="col col-sm col-lg aling-self-center">
      <div class="number">
        8 800 555 44 33

        <div>
          Москва
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col col-lg col-sm">
        <div class="search_left" id="proposal">
        </div>
      </div>

      </div>
          <div class="row">
      <div class="col-sm col-lg">
        <div class="link-syle">
          <div class="title-text">
            <img src="{% static 'core/img/about_us.png' %}" alt="">
            <a href="#">О нас</a>
          </div>
          <div class="title-text">
            <img src="{% static 'core/img/blog.png' %}" alt="">
            <a href="#">Блог</a>
          </div>
          <div class="title-text">
            <img src="{% static 'core/img/departament.png' %}" alt="">
            <a href="#">Отделения</a>
          </div>
          <div class="title-text">
            <img src="{% static 'core/img/reviews.png' %}" alt="">
            <a href="#">Отзывы</a>
          </div>
          <div class="title-text">
            <img src="{% static 'core/img/contact.png' %}" alt="">
            <a href="#">Контакты</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm col-lg aling-self-center">
        <div class="social">
          <img src="{% static 'core/img/vkontacte.png'%}" alt="">


          <img src="{% static 'core/img/facebook.png' %}" alt="">


          <img src="{% static 'core/img/youtube.png' %}" alt="">


          <img src="{% static 'core/img/instagram.png' %}" alt="">

        </div>

      </div>
    </div>
    <div class="row justify-content-md-center" id="go_register">
      <div class="col cols-sm col-lg">
        <div class="">
          <button  v-on:click="goLogin" type="button" name="button">Я предоставляю услуги</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm col-lg aling-self-center">
        <div class="emblem-end">
          <img src="{% static 'core/img/emblem_bottom.png' %}" alt="">
        </div>
      </div>
    </div>

  </div>
