{% load static %}
<div class="container">
  <div class="row">
    <div class="col col-sm col-g">
      <div class="link-descript">
        Ремонт по бренду
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm col-lf">
      <div class="" id = "brands">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm col-lg">
      <div class="link-descript">
        Ремонт по типу устройств
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm col-lg">
      <div class="" id="marks"></div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm col-lg">
      <div class="link-descript">
        Ремонт по модели
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm col-lg">
      <div class="" id="device_models"></div>
    </div>
  </div>
</div>
