@import "variable";
$margtin-lelt-rigth: 70px;

.rigth-selector {
  margin-top: $margin-top-rigth;
  width: 160px;
  max-height: 300px;
  overflow-y: scroll;
  margin-right: 18px;
  background: $background-color;

  .title-text {
    line-height: 31px;
  }

  .affliation-text:hover {
    background: $background-color;
  }
}

.button-class {
  margin-top: $margin-top-rigth;
  margin-left: -3px;
  cursor: pointer;
  border: none;
  color: $background-color;
  background: $color-button;
  max-height: 30px;

  div {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px;
  }
}

.button-class:hover {
  background: $color-button-hover;
}

.rigth-title-selector {
  background: $background-color;
}

.rigth-title-selector:hover {
  background: $background-hover;
}

.rigth-title-aff-selector {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 63px;
  color: $color-types-text;
  font-family: "Raleway";
  font-weight: 500;
}

.rigth-aff-text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 63px;
  color: #686868;
  font-family: "Raleway";
  font-weight: 500;
}

.selection-object {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 63px;
  color: #686868;
  font-family: "Raleway";
  font-weight: 500;
  background: $background-color;
}

.selection-object:hover {
  background: $background-hover;
}

.rigth-menu {
  background: url("../img/background.png");
  height: 700px;

  img {
    position: absolute;
    width: 35px;
    right: 36px;
  }
}

.headline-one {
  margin-left: $margtin-lelt-rigth;
  margin-top: 150px;
  font-size: 72px;
  letter-spacing: 7px;
  line-height: 55px;
  color: $color-button;
  font-family: $famolo_rigth_menu;
  font-weight: 900;
}

.headline-two {
  margin-left: $margtin-lelt-rigth;
  margin-top: 5px;
  font-size: 60px;
  letter-spacing: 7px;
  line-height: 55px;
  color: $color-button;
  font-family: $famolo_rigth_menu;
  font-weight: 100;
}

.description-text {
  margin-top: 10px;
  width: 792px;
  margin-left: $margtin-lelt-rigth;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 25px;
  color: $background-color;
  font-family: "Raleway";
  font-weight: 300;
}