$background-befor-hover: #efefef;
$background-hover: #e8e8e8;
$color-affiliation-text: #595959;
$font-family-text: "Lato";
$color-text: #595959;
$color-types-text: #1a1a1a;
$margin-top-left-menu: 25px;
$color-error-message: #ff6666;
$background-color: #f7f7f7;
$color-button: #20bfa9;
$color-button-hover: #009999;
$famolo_rigth_menu: "Raleway";
$margin-top-rigth: 50px;